
NET "LED[1]" LOC = P39;
NET "LED[0]" LOC = P111;
NET "CLOCK_40_IN" LOC = P126;

NET "LED[1]" IOSTANDARD = LVCMOS18;
NET "LED[0]" IOSTANDARD = LVCMOS18;
NET "CLOCK_40_IN" IOSTANDARD = LVCMOS18;

NET "USB_REFCLK" LOC = P92;
NET "USB_RESET_B" LOC = P88;
NET "USB_STP" LOC = P87;
NET "USB_DIR" LOC = P85;
NET "USB_NXT" LOC = P84;
NET "USB_DATA[5]" LOC = P78;
NET "USB_DATA[7]" LOC = P74;
NET "USB_DATA[6]" LOC = P75;
NET "USB_DATA[0]" LOC = P83;
NET "USB_DATA[1]" LOC = P82;
NET "USB_DATA[2]" LOC = P81;
NET "USB_DATA[3]" LOC = P80;
NET "USB_DATA[4]" LOC = P79;

NET "USB_DATA[7]" PULLUP;
NET "USB_DATA[6]" PULLUP;
NET "USB_DATA[5]" PULLUP;
NET "USB_DATA[4]" PULLUP;
NET "USB_DATA[3]" PULLUP;
NET "USB_DATA[2]" PULLUP;
NET "USB_DATA[1]" PULLUP;
NET "USB_DATA[0]" PULLUP;

NET "USB_REFCLK" IOSTANDARD = LVCMOS33;
NET "USB_RESET_B" IOSTANDARD = LVCMOS33;
NET "USB_STP" IOSTANDARD = LVCMOS33;
NET "USB_DIR" IOSTANDARD = LVCMOS33;
NET "USB_NXT" IOSTANDARD = LVCMOS33;
NET "USB_DATA[0]" IOSTANDARD = LVCMOS33;
NET "USB_DATA[1]" IOSTANDARD = LVCMOS33;
NET "USB_DATA[2]" IOSTANDARD = LVCMOS33;
NET "USB_DATA[3]" IOSTANDARD = LVCMOS33;
NET "USB_DATA[4]" IOSTANDARD = LVCMOS33;
NET "USB_DATA[5]" IOSTANDARD = LVCMOS33;
NET "USB_DATA[6]" IOSTANDARD = LVCMOS33;
NET "USB_DATA[7]" IOSTANDARD = LVCMOS33;

NET "USB_REFCLK" DRIVE = 12;
NET "USB_RESET_B" DRIVE = 12;
NET "USB_STP" DRIVE = 12;
NET "USB_DIR" DRIVE = 12;
NET "USB_NXT" DRIVE = 12;
NET "USB_DATA[0]" DRIVE = 12;
NET "USB_DATA[1]" DRIVE = 12;
NET "USB_DATA[2]" DRIVE = 12;
NET "USB_DATA[3]" DRIVE = 12;
NET "USB_DATA[4]" DRIVE = 12;
NET "USB_DATA[5]" DRIVE = 12;
NET "USB_DATA[6]" DRIVE = 12;
NET "USB_DATA[7]" DRIVE = 12;

NET "USB_REFCLK" SLEW = FAST;
NET "USB_RESET_B" SLEW = FAST;
NET "USB_STP" SLEW = FAST;
NET "USB_DIR" SLEW = FAST;
NET "USB_NXT" SLEW = FAST;
NET "USB_DATA[0]" SLEW = FAST;
NET "USB_DATA[1]" SLEW = FAST;
NET "USB_DATA[2]" SLEW = FAST;
NET "USB_DATA[3]" SLEW = FAST;
NET "USB_DATA[4]" SLEW = FAST;
NET "USB_DATA[5]" SLEW = FAST;
NET "USB_DATA[6]" SLEW = FAST;
NET "USB_DATA[7]" SLEW = FAST;


NET "AD9361_FB_CLK" LOC = P8;
NET "AD9361_TX_FRM" LOC = P10;
NET "AD9361_ENABLE" LOC = P34;
NET "AD9361_TXNRX" LOC = P35;
NET "AD9361_DATA_CLK" LOC = P17;
NET "AD9361_RX_FRM" LOC = P29;
NET "AD9361_SPI_CLK" LOC = P142;
NET "AD9361_SPI_CS" LOC = P66;
NET "AD9361_SPI_SDI" LOC = P143;
NET "AD9361_SPI_SDO" LOC = P67;
NET "AD9361_RESET" LOC = P69;

NET "AD9361_FB_CLK" IOSTANDARD = LVCMOS18;
NET "AD9361_TX_FRM" IOSTANDARD = LVCMOS18;
NET "AD9361_ENABLE" IOSTANDARD = LVCMOS18;
NET "AD9361_TXNRX" IOSTANDARD = LVCMOS18;
NET "AD9361_DATA_CLK" IOSTANDARD = LVCMOS18;
NET "AD9361_RX_FRM" IOSTANDARD = LVCMOS18;
NET "AD9361_SPI_CLK" IOSTANDARD = LVCMOS18;
NET "AD9361_SPI_CS" IOSTANDARD = LVCMOS18;
NET "AD9361_SPI_SDI" IOSTANDARD = LVCMOS18;
NET "AD9361_SPI_SDO" IOSTANDARD = LVCMOS18;
NET "AD9361_RESET" IOSTANDARD = LVCMOS18;

NET "AD9361_FB_CLK" DRIVE = 12;
NET "AD9361_TX_FRM" DRIVE = 12;
NET "AD9361_ENABLE" DRIVE = 12;
NET "AD9361_TXNRX" DRIVE = 12;
NET "AD9361_DATA_CLK" DRIVE = 12;
NET "AD9361_RX_FRM" DRIVE = 12;
NET "AD9361_SPI_CLK" DRIVE = 4;
NET "AD9361_SPI_CS" DRIVE = 4;
NET "AD9361_SPI_SDI" DRIVE = 4;
NET "AD9361_SPI_SDO" DRIVE = 4;
NET "AD9361_RESET" DRIVE = 4;

NET "AD9361_FB_CLK" SLEW = FAST;
NET "AD9361_TX_FRM" SLEW = FAST;
NET "AD9361_ENABLE" SLEW = FAST;
NET "AD9361_TXNRX" SLEW = FAST;
NET "AD9361_DATA_CLK" SLEW = FAST;
NET "AD9361_RX_FRM" SLEW = FAST;
NET "AD9361_SPI_CLK" SLEW = SLOW;
NET "AD9361_SPI_CS" SLEW = SLOW;
NET "AD9361_SPI_SDI" SLEW = SLOW;
NET "AD9361_SPI_SDO" SLEW = SLOW;
NET "AD9361_RESET" SLEW = SLOW;





NET "AD9361_P0[11]" LOC = P141;
NET "AD9361_P0[10]" LOC = P9;
NET "AD9361_P0[9]" LOC = P140;
NET "AD9361_P0[8]" LOC = P5;
NET "AD9361_P0[7]" LOC = P139;
NET "AD9361_P0[6]" LOC = P138;
NET "AD9361_P0[5]" LOC = P1;
NET "AD9361_P0[4]" LOC = P7;
NET "AD9361_P0[3]" LOC = P2;
NET "AD9361_P0[2]" LOC = P15;
NET "AD9361_P0[1]" LOC = P6;
NET "AD9361_P0[0]" LOC = P16;
NET "AD9361_P1[11]" LOC = P33;
NET "AD9361_P1[10]" LOC = P32;
NET "AD9361_P1[9]" LOC = P11;
NET "AD9361_P1[8]" LOC = P30;
NET "AD9361_P1[7]" LOC = P12;
NET "AD9361_P1[6]" LOC = P24;
NET "AD9361_P1[5]" LOC = P23;
NET "AD9361_P1[4]" LOC = P14;
NET "AD9361_P1[3]" LOC = P21;
NET "AD9361_P1[2]" LOC = P27;
NET "AD9361_P1[1]" LOC = P22;
NET "AD9361_P1[0]" LOC = P26;

NET "AD9361_P0[11]" IOSTANDARD = LVCMOS18;
NET "AD9361_P0[10]" IOSTANDARD = LVCMOS18;
NET "AD9361_P0[9]" IOSTANDARD = LVCMOS18;
NET "AD9361_P0[8]" IOSTANDARD = LVCMOS18;
NET "AD9361_P0[7]" IOSTANDARD = LVCMOS18;
NET "AD9361_P0[6]" IOSTANDARD = LVCMOS18;
NET "AD9361_P0[5]" IOSTANDARD = LVCMOS18;
NET "AD9361_P0[4]" IOSTANDARD = LVCMOS18;
NET "AD9361_P0[3]" IOSTANDARD = LVCMOS18;
NET "AD9361_P0[2]" IOSTANDARD = LVCMOS18;
NET "AD9361_P0[1]" IOSTANDARD = LVCMOS18;
NET "AD9361_P0[0]" IOSTANDARD = LVCMOS18;
NET "AD9361_P1[11]" IOSTANDARD = LVCMOS18;
NET "AD9361_P1[10]" IOSTANDARD = LVCMOS18;
NET "AD9361_P1[9]" IOSTANDARD = LVCMOS18;
NET "AD9361_P1[8]" IOSTANDARD = LVCMOS18;
NET "AD9361_P1[7]" IOSTANDARD = LVCMOS18;
NET "AD9361_P1[6]" IOSTANDARD = LVCMOS18;
NET "AD9361_P1[5]" IOSTANDARD = LVCMOS18;
NET "AD9361_P1[4]" IOSTANDARD = LVCMOS18;
NET "AD9361_P1[3]" IOSTANDARD = LVCMOS18;
NET "AD9361_P1[2]" IOSTANDARD = LVCMOS18;
NET "AD9361_P1[1]" IOSTANDARD = LVCMOS18;
NET "AD9361_P1[0]" IOSTANDARD = LVCMOS18;


NET "AD9361_P0[11]" DRIVE = 8;
NET "AD9361_P0[10]" DRIVE = 8;
NET "AD9361_P0[9]" DRIVE = 8;
NET "AD9361_P0[8]" DRIVE = 8;
NET "AD9361_P0[7]" DRIVE = 8;
NET "AD9361_P0[6]" DRIVE = 8;
NET "AD9361_P0[5]" DRIVE = 8;
NET "AD9361_P0[4]" DRIVE = 8;
NET "AD9361_P0[3]" DRIVE = 8;
NET "AD9361_P0[2]" DRIVE = 8;
NET "AD9361_P0[1]" DRIVE = 8;
NET "AD9361_P0[0]" DRIVE = 8;
NET "AD9361_P1[11]" DRIVE = 8;
NET "AD9361_P1[10]" DRIVE = 8;
NET "AD9361_P1[9]" DRIVE = 8;
NET "AD9361_P1[8]" DRIVE = 8;
NET "AD9361_P1[7]" DRIVE = 8;
NET "AD9361_P1[6]" DRIVE = 8;
NET "AD9361_P1[5]" DRIVE = 8;
NET "AD9361_P1[4]" DRIVE = 8;
NET "AD9361_P1[3]" DRIVE = 8;
NET "AD9361_P1[2]" DRIVE = 8;
NET "AD9361_P1[1]" DRIVE = 8;
NET "AD9361_P1[0]" DRIVE = 8;


NET "AD9361_P0[11]" SLEW = FAST;
NET "AD9361_P0[10]" SLEW = FAST;
NET "AD9361_P0[9]" SLEW = FAST;
NET "AD9361_P0[8]" SLEW = FAST;
NET "AD9361_P0[7]" SLEW = FAST;
NET "AD9361_P0[6]" SLEW = FAST;
NET "AD9361_P0[5]" SLEW = FAST;
NET "AD9361_P0[4]" SLEW = FAST;
NET "AD9361_P0[3]" SLEW = FAST;
NET "AD9361_P0[2]" SLEW = FAST;
NET "AD9361_P0[1]" SLEW = FAST;
NET "AD9361_P0[0]" SLEW = FAST;
NET "AD9361_P1[11]" SLEW = FAST;
NET "AD9361_P1[10]" SLEW = FAST;
NET "AD9361_P1[9]" SLEW = FAST;
NET "AD9361_P1[8]" SLEW = FAST;
NET "AD9361_P1[7]" SLEW = FAST;
NET "AD9361_P1[6]" SLEW = FAST;
NET "AD9361_P1[5]" SLEW = FAST;
NET "AD9361_P1[4]" SLEW = FAST;
NET "AD9361_P1[3]" SLEW = FAST;
NET "AD9361_P1[2]" SLEW = FAST;
NET "AD9361_P1[1]" SLEW = FAST;
NET "AD9361_P1[0]" SLEW = FAST;


NET "LCD_SCL" LOC = P102;
NET "LCD_SDI" LOC = P100;
NET "LCD_DC" LOC = P98;
NET "LCD_CS" LOC = P94;

NET "LCD_SCL" IOSTANDARD = LVCMOS33;
NET "LCD_SDI" IOSTANDARD = LVCMOS33;
NET "LCD_DC" IOSTANDARD = LVCMOS33;
NET "LCD_CS" IOSTANDARD = LVCMOS33;

NET "LCD_SCL" DRIVE = 12;
NET "LCD_SDI" DRIVE = 12;
NET "LCD_DC" DRIVE = 12;
NET "LCD_CS" DRIVE = 12;

NET "LCD_SCL" SLEW = FAST;
NET "LCD_SDI" SLEW = FAST;
NET "LCD_DC" SLEW = FAST;
NET "LCD_CS" SLEW = FAST;



#Created by Constraints Editor (xc6slx9-tqg144-3) - 2017/09/05
NET "CLOCK_40_IN" TNM_NET = "CLOCK_40_IN";
TIMESPEC TS_CLOCK_40_IN = PERIOD "CLOCK_40_IN" 40 MHz HIGH 50 %;
NET "internalclk" TNM_NET = "internalclk";
TIMESPEC TS_internalclk = PERIOD "internalclk" 80 MHz HIGH 50 %;
NET "spic/o" TNM_NET = "spic/o";
TIMESPEC TS_spic_o = PERIOD "spic/o" 2 MHz HIGH 50 %;
#Created by Constraints Editor (xc6slx9-tqg144-3) - 2017/09/05
#Created by Constraints Editor (xc6slx9-tqg144-3) - 2017/09/05
#Created by Constraints Editor (xc6slx9-tqg144-3) - 2017/09/05
INST "*syncRpos/*" TNM = "fifo_syncRpos";
INST "*syncWpos/*" TNM = "fifo_syncWpos";
TIMESPEC TS_fifo_ignore1 = FROM "wrWpos" TO "fifo_syncWpos" TIG ;
TIMESPEC TS_fifo_ignore2 = FROM "rdRpos" TO "fifo_syncRpos" TIG ;
#Created by Constraints Editor (xc6slx9-tqg144-3) - 2017/09/05
#Created by Constraints Editor (xc6slx9-tqg144-3) - 2017/09/05
INST "*rdRpos*" TNM = "rdRpos";
INST "*wrWpos*" TNM = "wrWpos";
#Created by Constraints Editor (xc6slx9-tqg144-2) - 2018/08/02
NET "AD9361_DATA_CLK" TNM_NET = "AD9361_DATA_CLK";
TIMESPEC TS_AD9361_DATA_CLK = PERIOD "AD9361_DATA_CLK" 5 MHz HIGH 50 %;

# PlanAhead Generated physical constraints 

INST "usbdev/usb_serial_inst/s_txprev_acked_glue_rst" BEL = B6LUT;
INST "usbdev/usb_serial_inst/s_txprev_acked_glue_rst" LOC = SLICE_X7Y42;
INST "usbdev/usb_serial_inst/s_txprev_acked" BEL = BFF;
INST "usbdev/usb_serial_inst/s_txprev_acked" LOC = SLICE_X7Y42;
INST "usbdev/usb_serial_inst/s_txprev_acked_glue_ce" BEL = A6LUT;
INST "usbdev/usb_serial_inst/s_txprev_acked_glue_ce" LOC = SLICE_X7Y42;
